body{
    font-family: "Noto Sans", serif;
    margin: 0;
    padding: 0;
}
h3,h2{
    font-weight: 700;
    font-size: 40px;
}
.container-fluid{
    position: relative;
    height: 100vh;
    overflow: hidden;

}
.container-fluid > img{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: fit-content;
    display: block;
}
input{
    width:400px;
}
.container-fluid button{
    display: inline-block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Optional: Adds rounded corners */
}
.trending{
    background-color: black;
    color: white;
    text-align: left;
}
.trending h3{
    margin-bottom: 20px;
    margin-left: 70px;
    padding-top: 10px;
}
select{
    color: white;
    background-color: rgb(84, 81, 81);
    margin-left: 70px;
}
.c-images{
    margin-top:20px ;
    margin-left: 40px;
}
.c-images img{
    width: 400px;
    height: 400px;
}
