body{
    font-family: "Noto Sans", serif;
    margin: 0;
    padding: 0;
}
.container-fluid{
    position: relative;
    height: 100vh;
    overflow: hidden;

}
.container-fluid > img{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: fit-content;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black background */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Optional: Adds rounded corners */
}